@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Slabo+27px');
@import url('https://fonts.googleapis.com/css?family=Raleway:700');
html, body {
  background-color: #DEDFDA;
}
p {
  font-family: 'Book Antiqua', serif;
  color: #323232;
  letter-spacing: 2px;
  font-size: 45px;
}
img {
  height: 100%;
  border-right-style: solid;
  border-right-width: 5px;
  border-right-color: #9D3544;
}
.fa-bars {
  font-size: 25px;
  color: #4c4c4c;
  cursor: pointer;
}
.fa {
  color: #4c4c4c;
}
.menu-container {
  position: absolute;
  left: 40px;
  top: 30px;
}
.image-container {
  height: 100%;
  margin-left: 100px;
  position: absolute;
}
.text-container {
  height: 100%;
  width: 400px;
  position: absolute;
  left: 440px;
}
.nav-bar {
  margin: auto;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  height: 30px;
  width: 300px;
}
.underline {
  margin: auto;
  position: absolute;
  top: 50px;
  left: 0;
  right: -47px;
  height: 1px;
  width: 54px;
  background-color: #9D3544;
}
.underline2 {
  margin: auto;
  position: absolute;
  top: 190px;
  left: 50px;
  height: 1.2px;
  width: 87px;
  background-color: #9D3544;
}
.underline3 {
  margin: auto;
  position: absolute;
  top: 465px;
  left: 53px;
  height: 1.2px;
  width: 87px;
  background-color: #9D3544;
}
.sub-title {
  position: absolute;
  height: 100px;
  width: 300px;
  top: 105px;
  bottom: 0;
  left: 50px;
}
.sub-title2 {
  position: absolute;
  height: 100px;
  width: 300px;
  top: 412px;
  bottom: 0;
  left: 50px;
}

.title-container {
  position: absolute;
  height: 100px;
  width: 300px;
  top: 100px;
  bottom: 0;
  left: 45px;
}
.fa-caret-down {
  position: absolute;
  margin: auto;
  top: 4px;
  bottom: 0;
  text-align: center;
  font-size: 14px;
  width: 20px;
  height: 20px;
}
.p-container {
  font-family: 'Book Antiqua', serif;
  font-size: 15px;
  margin: auto; 
  position: absolute;
  top: auto;
  bottom: 80px;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;
}
.p-container2 {
  font-family: 'Book Antiqua', serif;
  font-size: 15px;
  margin: auto; 
  position: absolute;
  top: 620px;
  bottom: 80px;
  left: 0;
  right: 0;
  height: 300px;
  width: 300px;
}

.container {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f6f7f3;
  width: 900px;
  height: 600px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.background {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #694D4B;
  height: 100%;
  width: 45%;
  border-right-style: solid;
  border-right-width: 5px;
  border-right-color: #9D3544;
}